<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="sv-se" value="W. Europe Standard Time" />
    <add key="ta-IN" value="India Standard Time" />

    <add key="SitePath" value="http://localhost:48279/" />

    <!--<add key="SitePath" value="admin.maharshiacademy.com/"/>-->

    <add key="SiteTitleAdmin" value="Maharshi Academy - Admin Panel" />

    <add key="MahaCoachTestDBConnectionString" value="Data Source=KUMAR;Initial Catalog=MahaCoachTestDB;User ID=sa;Password=Dev123"/>
    <!--<add key="MahaCoachTestDBConnectionString" value="Data Source=184.168.194.78;Initial Catalog=ph12114001009_MahaCoachTestDB;User ID=mhmadmyAdmin;Password=eLq3?4v3"/>-->
  </appSettings>
  <connectionStrings>
    <add name="MahaCoachTestDBConnectionString" connectionString="Data Source=KUMAR;Initial Catalog=MahaCoachTestDB;User ID=sa;Password=Dev123" />
    <!--<add name="MahaCoachTestDBConnectionString" connectionString="Data Source=184.168.194.78;Initial Catalog=ph12114001009_MahaCoachTestDB;User ID=mhmadmyAdmin;Password=eLq3?4v3" />-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
</configuration>
